@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F78F7D;
    --secondary-color: #F6BCAD;
    --info-color: #FFDCD4;

}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: relative;
    height: 83px;
    width: 100%;
}

nav {
    height: 83px;
    width: 100%;
    padding: 20px 0px;
}

.brand {
    color: #021300;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 900;
    margin-left: 20px;
    font-family: "Permanent Marker", "cursive";
}

.brand-text {
    color: var(--primary-color);
}

.navigation-bar ul {
    margin: 0;
    padding: 0;
}

.navigation-bar ul li {
    display: inline-block;
    margin: 0px 25px;
}

.navigation-bar ul li:last-child {
    margin-right: 0px;
}

li a {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    font-weight: normal;
    text-transform: capitalize;
}

li a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    color: #222222;
    background-color: var(--info-color);
    border: 5px;
    font-weight: normal;
    font-weight: 600;

}

.navigation-bar ul li a.btn:hover {
    background-color: var(--primary-color);
    color: #fff;


}

.burger {
    width: 25px;
    cursor: pointer;
    display: none;
}


.burger span {
    height: 3px;
    display: block;
    margin-bottom: 3px;
    color: #021300;
    width: 100%;
    background-color: var(--primary-color);
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    max-width: 100%;

}

.left-content {
    padding: 30px;
}

.left-content h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.left-content p {
    margin-bottom: 20px;

}


.home-content .left-content a.btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.right-content img {
    width: 500px;
    height: 500px;

}

@media(max-width:767px) {
    .home-content {
        flex-direction: column-reverse;
    }

    .home-content.right-content {
        position: relative;
        top: 5%;
        left: 0;
    }

    .home-content .right-content img {
        width: 300px;
        height: 300px;
        margin-bottom: 0;
    }


    .home-content .left-content {
        position: relative;
        top: 5%;
    }

    .home-content .left-content h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .home-content .left-content p {
        font-size: 14x;
    }

}

@media(min-width:991px) {
    .navigation-bar {
        display: block !important;
    }
}

@media(max-width:991px) {
    .burger {
        display: block;
        right: 20px;
        position: absolute;
        right: 25px;
    }

    .navigation-bar {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: var(--info-color);
        text-align: center;
        justify-content: center;
        z-index: 2;
        padding: 20px 0px;
    }

    .navigation-bar ul li {
        display: block;
        margin: 15px 0;
    }

    .navigation-bar ul li a.btn {
        background-color: var(--secondary-color);
        color: #fff
    }

    .navigation-bar.active {
        display: block;
    }
}

@media(min-width:768px) and (max-width:1023px) {




    .home-content .right-content {
        position: relative;
        top: 0;
        left: 0;
    }

    .home-content .right-content img {
        width: 400px;
        height: 400px;
        margin-bottom: 0px;
    }

    .home-content .left-content {
        position: relative;
        top: 5%;
    }

    .home-content .left-content h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }




    .home-content .left-content p {
        font-size: 20px;
        margin-bottom: 20px;
        display: block;
    }

}